[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec="/home/kris/Applications/Nextcloud-3.11.0-x86_64.AppImage" --background
Terminal=false
Icon=Nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
