* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 25px;
}

window#waybar {
  background: transparent;
}

#custom-power,
#workspaces,
#custom-weather {
  border-radius: 10px;
  background-color: #11111b;
  color: #b4befe;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-power {
  font-size: 20px;
  margin-left: 5px;
  color: #b4befe;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
}

#workspaces button.active {
  color: #11111b;
  background: #b4befe;
}

#disk,
#idle_inhibitor,
#clock,
#pulseaudio,
#network,
#battery,
#tray,
#bluetooth {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
